.list {
  list-style: none;
  border-bottom: 0px;
  margin: 0px 10px 10px;
  font-size: 14px;
  font-weight: 400;
  color: #101928;
}

/* .list li:not(:last-child)::before,
.list li:not(:last-child)::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: #000;
  transform: translateX(-50%);
} */

.list li {
  align-items: center;
  display: flex;
  position: relative;
  padding-left: 1em;
}

.list li::before {
  color: #d0d5dd;
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 0.8em;
  margin-left: 10px;
  font-size: 35px;
}

.lists {
  list-style: none;
  border-bottom: 0px;
  margin: 0px 10px 10px;
  font-size: 14px;
  font-weight: 400;
  color: #101928;
}

.lists li {
  align-items: center;
  display: flex;
  height: 42.4px;
  gap: 15px;
  margin-left: 10px;
}

.list::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.input {
  display: block;
  outline: none;
  border: 1px solid #d0d5dd;
  padding: 16px;
  height: 56px;
  width: 60%;
  border-radius: 6px;
  margin-top: 8px;
  font-size: 16px;
}

.area {
  display: block;
  outline: none;
  border: 1px solid #d0d5dd;
  padding: 12px;
  /* height: 56px; */
  width: 100%;
  border-radius: 6px;
  margin-top: 5px;
  font-size: 16px;
}

textarea {
  resize: none;
  overflow: hidden;
}
