.container {
  display: flex;
  flex-direction: row;
}

.wrapper {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 100px 0px;
}

.Logo {
  height: auto;
  margin-bottom: 30px;
}

.form {
  width: 495px;
  margin-top: 20px;
}

.images {
  height: 99vh;
  width: 100%;
}

.name {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.errorText {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
