.header {
  padding: 10px 20px;
  overflow: hidden;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-bottom: 1px #e7e9fb solid;
}

/* .item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
} */

.head {
  display: flex;
  gap: 8px;
  padding: 10px;
}

.nameId {
  display: flex;
  flex-direction: column;
  gap: 1px;
  font-size: 14px;
}

.userName {
  color: #101928;
  font-weight: 600;
  line-height: 20px;
  text-transform: capitalize;
}

.userId {
  color: #475367;
  font-weight: 400;
  line-height: 20px;
}
