@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

label {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* margin-top: 8px; */
}
.css-1nbqtm6-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border: 0px solid #d0d5dd;
  outline: none;
}
