.background {
  display: flex;
  flex-direction: column;
  background-image: url("/assets/Empty state.png");
  background-position: center bottom;
  height: 80vh;

  /* height: calc(100vh - 130px); */
  background-repeat: no-repeat;
  background-color: white;
  padding: 20px;
}
